@use 'sass:math';

.store {
    display: grid;
    align-items: flex-start;

    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: auto;
    margin-right: auto;

    background-color: $BACKGROUND;
}

.store_horizontal {
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-template-rows: 50px 750px 50px 300px;
    gap: 1vw;

    grid-template-areas:
        'sort sort search view view'
        'arrow-left cards cards cards arrow-right'
        'scroll scroll scroll scroll scroll'
        'sets sets sets sets sets';
}

.store_vertical {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1vw;

    grid-template-areas:
        'sort search view'
        'sets cards scroll'
        'sets cards scroll';
}

.goods-sort {
    grid-area: sort;
    margin: 0;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;

    border: 3px solid $MAIN_COLOR;
    border-radius: 5px;
    background-color: #00000042;
    opacity: 0.8;
    appearance: none;
    outline: 0;
    box-shadow: none;
    color: $ADDITIONAL_TEXT;

    &:hover {
        cursor: pointer;
        opacity: 1;
        color: #ffffff;
    }

    &::-ms-expand {
        display: none;
    }

    & .goods-sort__item {
        outline: none;
        border: 3px solid $MAIN_COLOR;
        border-radius: 5px;
        background-color: #000000;
    }
}

.goods-search {
    display: flex;
    width: 100%;

    grid-area: search;

    border: 3px solid $MAIN_COLOR;
    border-radius: 5px;
    opacity: 0.8;
    background-color: #00000042;
    list-style: none;
    color: $ADDITIONAL_TEXT;

    &:hover {
        opacity: 1;
    }

    &:focus-within {
        color: #ffffff;
        opacity: 1;
    }

    & .goods-search__input {
        width: 80%;
        background-color: rgba(255, 255, 255, 0);
        color: $MAIN_TEXT;
        border: none;

        &:focus {
            outline: none;
        }
    }

    & .goods-search__count {
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
        width: 20%;

        font-family: 'Aire exterior', sans-serif;
        text-align: center;

        border-left: 3px solid $MAIN_COLOR;
    }
}

.goods-view {
    grid-area: view;
    margin: 0;
    width: 100%;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;

    border: 3px solid $MAIN_COLOR;
    border-radius: 5px;
    background-color: #00000042;
    opacity: 0.8;
    appearance: none;
    outline: 0;
    box-shadow: none;
    color: $ADDITIONAL_TEXT;

    &:hover {
        cursor: pointer;
        opacity: 1;
        color: #ffffff;
    }

    &::-ms-expand {
        display: none;
    }

    & .goods-view__item {
        outline: none;
        border: 3px solid $MAIN_COLOR;
        border-radius: 5px;
        background-color: #000000;
    }
}

.goods-sort,
.goods-search,
.goods-search__input,
.goods-search__input::placeholder,
.goods-view {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: calc(0.612vw + 12.04px);
    text-align: center;
}

.arrow-left,
.arrow-right {
    grid-area: arrow-left;
    align-self: center;
    width: 4vw;
    height: 4vw;

    fill: $MAIN_TEXT;

    &:hover {
        cursor: pointer;
        fill: $MAIN_COLOR;
    }

    &:active {
        opacity: 0.3;
    }
}

.arrow-right {
    grid-area: arrow-right;

    rotate: 180deg;
}

.cards-wrapper {
    grid-area: cards;
    overflow: hidden;
}

.cards {
    position: relative;
    left: 0px;

    display: grid;

    // grid-template-columns: 32% 32% 32% 32% 32% 32%;
    // grid-template-columns: repeat(7, 32%);
    grid-template-rows: 1fr 1fr;
    gap: 1vw;
}

@for $i from 1 through 101 {
    .cards:has(.card:nth-child(#{$i})) {
        grid-template-columns: repeat(#{round($i / 2)}, 32%);
    }
}
.card {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 0.5fr 3fr 1fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        'sale title rating'
        '. subtitle .'
        '. img .'
        '. button .'
        '. button .';
    gap: 0.5vw;
    padding: 1vw;
    overflow: hidden;

    background-color: rgba(0, 0, 0, 0.243);
    border-radius: 1vw;

    transition: all 0.3s ease;

    &:hover {
        scale: calc(1.05);

        transition: all 0.3s ease;
    }

    &:hover .card__info {
        bottom: 5px;

        transition: all 0.3s ease;
    }

    &:hover .card__button {
        margin-bottom: 20px;

        transition: all 0.3s ease;
    }
}

.card__title {
    grid-area: title;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Aire exterior', sans-serif;
    font-size: 20px;

    color: $MAIN_TEXT;
}

.card__subtitle {
    grid-area: subtitle;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;

    color: $ADDITIONAL_TEXT;
}

.card__image {
    grid-area: img;
    width: 100%;

    background-image: url('./assets/collection/thumbnails/AH_Final-Hour.png');
}

.card__button {
    grid-area: button;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    width: 100%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    // height: 38px;

    background-color: #00000000;
    border: 3px solid $MAIN_COLOR;
    border-radius: 0.5vw;

    transition: all 0.3s ease;

    & .card__price {
        margin: 0;

        font-family: 'Pulsar Original', sans-serif;
        font-size: 14px;
        color: $MAIN_TEXT;

        & .card__price-old {
            text-decoration: line-through;
        }
    }

    & .card__cart-image {
        width: 20%;
        // height: 30px;
    }
}

.card__rating {
    position: relative;

    grid-area: rating;
    width: 50%;
    justify-self: center;
    align-self: center;

    & .card__rating-image {
        fill: $MAIN_COLOR;
    }

    & .card__rating-number {
        position: absolute;
        top: 30%;
        left: 35%;

        margin: 0;

        font-family: 'Pulsar Original', sans-serif;
        font-size: 20px;

        color: $BACKGROUND;
    }
}

.card__sale-image {
    position: relative;

    grid-area: sale;
    width: 50%;
    justify-self: center;
    align-self: center;

    fill: $MAIN_COLOR;
}

.card__info {
    position: absolute;
    bottom: -30px;
    grid-area: info;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;

    font-family: 'Robot', sans-serif;
    font-size: 14px;

    color: $MAIN_TEXT;
    list-style: none;

    transition: all 0.3s ease;
}

.card__info-stock,
.card__info-players,
.card__info-time {
    display: flex;
    align-items: center;

    & svg {
        width: 20%;
        margin-right: 5%;
    }
}

.card__info-age {
    font-family: 'Pulsar Original', sans-serif;
    font-size: 20px;
}

.scroll {
    grid-area: scroll;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    list-style: none;

    & .scroll__item {
        width: 20px;
        height: 20px;
        margin-left: 0.5vw;
        margin-right: 0.5vw;

        border: 3px solid $MAIN_COLOR;
        border-radius: 20px;

        &:hover {
            scale: 1.1;
            cursor: pointer;
        }
    }

    & .scroll__item_active {
        background-color: $MAIN_COLOR;
    }
}

.sets-wrapper {
    grid-area: sets;
    display: grid;
    grid-template-areas:
        'category maker price price sale stock'
        'category maker price price . .'
        'category maker players players filter filter'
        'category maker players players copy-button copy-button';
    gap: 1vw;

    & .sets {
        padding: 1vw;

        background-color: #00000024;
        border-radius: 1vw;
        color: $MAIN_COLOR;

        & .sets__list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: 0;
            padding: 0;

            list-style: none;
            color: $MAIN_TEXT;
        }
    }

    & .sets-category {
        grid-area: category;
    }

    & .sets-maker {
        grid-area: maker;
    }
}

.price-slider__wrapper {
    grid-area: price;
    display: flex;
    flex-direction: column;

    background-color: #00000024;
    border-radius: 1vw;
    color: $MAIN_COLOR;
}

.players-number {
    grid-area: players;
    display: flex;
    flex-direction: column;

    background-color: #00000024;
    border-radius: 1vw;
    color: $MAIN_COLOR;

    & .players-number__inputs {
        display: flex;
    }
}

.sale__wrapper {
    grid-area: sale;

    background-color: #00000024;
    border-radius: 1vw;
    color: $MAIN_COLOR;
}

.stock__wrapper {
    grid-area: stock;

    background-color: #00000024;
    border-radius: 1vw;
    color: $MAIN_COLOR;
}

.filter__button {
  position: relative;

  grid-area: filter;
  display: block;
  width: calc(11.527vw + 58.50px);
  height: calc(2.824vw + 13.83px);
  // margin-top: calc(7.023vw - 17.28px);
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font-family: 'Aire Exterior', sans-serif;
  font-size: calc(0.746vw + 11.31px);

  clip-path: polygon(0 0, 90% 0%, 100% 40%, 100% 80%, 100% 100%, 20% 100%, 0 100%);
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  color: $BACKGROUND;
  background-color: $MAIN_TEXT;

  transition: transform 0.3s ease;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  &:active {
    background-color: $MAIN_COLOR;
  }
}

.copy__button {
  position: relative;

  grid-area: copy-button;
  display: block;
  width: calc(11.527vw + 58.50px);
  height: calc(2.824vw + 13.83px);
  // margin-top: calc(7.023vw - 17.28px);
  margin-left: auto;
  margin-right: auto;

  text-align: center;
  font-family: 'Aire Exterior', sans-serif;
  font-size: calc(0.746vw + 11.31px);

  clip-path: polygon(0 0, 90% 0%, 100% 40%, 100% 80%, 100% 100%, 20% 100%, 0 100%);
  border: none;
  background-repeat: no-repeat;
  background-size: contain;
  color: $BACKGROUND;
  background-color: $MAIN_TEXT;

  transition: transform 0.3s ease;
  
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }

  &:active {
    background-color: $MAIN_COLOR;
  }
}