body {
    background-color: $BACKGROUND;
    color: $MAIN_TEXT;
    display: flex;
    flex-direction: column;
    font-family: 'Aire Exterior', sans-serif;
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 39px;
}

.basket__head_info {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    bottom: 50px;
    width: 100%;
}

.basket__head_info__header {
    width: 100%;
    display: flex;
    justify-content: center;
    top: 180px;
}

.basket__head_info__page_control {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    font-size: 32px;
}

.small_button {
    background-color: transparent;
    color: $MAIN_TEXT;
    border: none;
    padding: 3px;
    font-size: 32px;
}
.small_button:hover {
    background-color: $WHITE_TR;
    border-radius: 10px;
    box-shadow: 0px 0px 16px $MAIN_TEXT;
}

.small_button:active {
    background-color: $BLUE_TR;
    border-radius: 10px;
    box-shadow: 0px 0px 16px $MAIN_COLOR;
}

.basket__cards {
    display: flex;
    position: relative;
    background-color: $BLACK_BG;
    flex-direction: column;
    align-items: center;
    width: 1279px;
    height: 70%;
    border-radius: 10px;
    margin-bottom: 30px;
}

.basket__cards__card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: space-between;
    margin: 30px auto;
    width: 1240px;
    height: 273px;
    padding-bottom: 50px;
    border-bottom: 2px solid $MAIN_COLOR;
}

.card__main_info {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    font-size: 32px;
    width: 100%;
}

.card__main_info_num {
    font-family: 'Pulsar Original', sans-serif;
    font-size: 32px;
}

.card__main_info__photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__main_info__head_info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 55px);
    width: 750px;
    p {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.card__main_info__amount {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__main_info__amount__special {
    font-size: 40px;
    margin: 10px 0;
}

.card__main_info__amount__of_products {
    display: flex;
    margin: 28px 0 10px 0;
    align-items: center;
    .num_button {
        border-radius: 50%;
        border: 4px solid $MAIN_TEXT;
        background-color: $BLACK_BG;
        color: $MAIN_TEXT;
        width: 40px;
        height: 40px;
        font-size: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .num_button:hover {
        background-color: $WHITE_TR;
    }
    .num_button:active {
        background-color: $BLUE_TR;
    }
    .number_of_products {
        display: flex;
        background-color: $BACKGROUND;
        color: $MAIN_TEXT;
        font-size: 28px;
        border: 4px solid $MAIN_COLOR;
        border-radius: 10px;
        width: 40px;
        height: 40px;
        margin: 0 25px;
        text-align: center;
        font-family: 'Pulsar Original', sans-serif;
    }
}

.card__main_info__amount__price {
    display: flex;
    justify-content: space-around;
    width: 120px;
    font-family: 'Pulsar Original', sans-serif;
    font-size: 36px;
}

.card__main_info__cross {
    display: flex;
    position: absolute;
    right: 0px;
    top: 0px;
}

.card__description {
    display: flex;
    position: relative;
    bottom: 30px;
    justify-content: center;
    text-align: center;
    font-size: 24px;
}

.basket__cards__card:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
}

.basket__result {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    // bottom: 70px;
    margin-bottom: 30px;
}

.basket__result__name {
    display: flex;
    position: relative;
    top: 30px;
}

.basket__result__info {
    display: flex;
    background-color: $BLACK_BG;
    align-items: center;
    border-radius: 10px;
    width: 1279px;
    // height: 172px;
    justify-content: space-around;
    padding-top: 30px;
}

.info__amount_and_price {
    display: flex;
    flex-direction: column;
    font-size: 32px;
    height: 100%;
    justify-content: space-around;
}

.info__promocode {
    position: relative;

    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;

    .info__promocode__enter {
        width: 90%;
        height: 40px;
        border: 4px solid $MAIN_COLOR;
        border-radius: 10px;
        background-color: $BLACK_BG;
        color: $MAIN_TEXT;
        font-family: 'Aire Exterior', sans-serif;
        font-size: 24px;
        padding-left: 10px;
    }

    .info__promocode__button {
        position: absolute;

        display: none;
        width: 20px;
        height: 20px;
        top: 10px;
        right: 30px;
    }

    .info__promocode__button_active {
        display: block;
    }

    .small_button {
        font-size: 24px;
        font-family: 'Pulsar Original', sans-serif;
    }
}

.proposal {
    display: flex;

    & .proposal__button {
        display: none;
        width: 20px;
        height: 20px;
        fill: #ffffff;
        opacity: 0.8;

        &:hover {
            cursor: pointer;
            opacity: 1;
        }
    }

    & .proposal__button_active {
        display: block;
    }
}

.info__buy_now {
    font-family: 'Aire Exterior', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 251px;
    height: 61px;
    background-color: $MAIN_TEXT;
    font-size: 24px;
    color: black;
    clip-path: polygon(0 0, 90% 0%, 100% 40%, 100% 80%, 100% 100%, 20% 100%, 0 100%);
}

.info__buy_now:hover {
    background-color: $BLACK_BG;
    color: $MAIN_TEXT;
}
.info__buy_now:active {
    color: $MAIN_COLOR;
}

@media (max-width: 1440px) {
    body {
        width: 100%;
    }
    .basket__head_info {
        width: 100%;
        .basket__head_info__page_control {
            width: 100vw;
            flex-direction: column;
            align-items: center;
        }
        .basket__head_info__header {
            width: 100vw;
            top: 280px;
        }
    }
    .basket__cards {
        width: 100vw;
        height: 100%;
        .basket__cards__card {
            width: 100%;
            height: 100%;
            padding: 10px 0;
        }
        .card__main_info {
            display: flex;
            flex-direction: column;
            font-size: 28px;
            width: 100%;
            .card__main_info__head_info {
                width: 90%;
                height: 100%;
            }
            .card__main_info__cross {
                right: 10px;
            }
        }
    }
    .basket__result {
        width: 100vw;
        height: 100%;
        .basket__result__info {
            width: 100%;
            height: 100%;
            flex-direction: column;
            .info__amount_and_price {
                width: 90%;
                flex-direction: row;
                justify-content: space-between;
                margin: 10px 0;
            }
            .info__promocode {
                margin: 15px 0;
            }
            .info__promocode__freshman {
                margin: 10px;
            }
            .info__buy_now {
                margin: 10px;
            }
        }
    }
}

@media (max-width: 640px) {
    body {
        width: 100%;
    }
    h2 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    .basket__head_info {
        width: 100vw;
        .basket__head_info__page_control {
            width: 100%;
            flex-direction: column;
            align-items: center;
            font-size: 18px;
        }
    }
    .basket__cards {
        width: 100vw;
        height: 100%;
        .basket__cards__card {
            width: 100%;
            height: 100%;
            padding: 10px 0;
        }
        .card__main_info {
            display: flex;
            flex-direction: column;
            font-size: 28px;
            width: 100%;
            .card__main_info__head_info {
                width: 90%;
                height: 100%;
                font-size: 22px;
            }
            .card__main_info__cross {
                right: 10px;
            }
            .card__main_info__amount__special {
                font-size: 28px;
            }
        }
        .card__description {
            font-size: 18px;
        }
    }
    .basket__result {
        width: 100vw;
        height: 100%;
        .basket__result__info {
            width: 100%;
            height: 100%;
            flex-direction: column;
            .info__amount_and_price {
                font-size: 22px;
                width: 90%;
                flex-direction: row;
                justify-content: space-between;
                margin: 10px 0;
            }
            .info__promocode {
                font-size: 18px;
                margin: 15px 0;
            }
            .info__promocode__freshman {
                margin: 10px;
            }
            .info__buy_now {
                margin: 10px;
                width: 80%;
            }
        }
    }
}
