.product-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-family: 'Aire Exterior', sans-serif;
    margin: 30px auto;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $BLACK_BG;
    border-radius: 10px;
    width: 90%;
}

.about__main_info {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.about__main_info__photo {
    display: flex;
    align-items: center;
}

.about__main_info__info {
    font-size: 32px;

    button {
        position: relative;
        width: 250px;
        height: 50px;
        clip-path: polygon(0 0, 90% 0%, 100% 40%, 100% 80%, 100% 100%, 20% 100%, 0 100%);
        font-size: 24px;
        color: black;
        font-family: 'Aire Exterior', sans-serif;
        left: 20%;
        margin-bottom: 10px;
    }
}

.about__gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery__photo {
    margin: 10px;
}

.about__desctiption {
    display: flex;
    flex-direction: center;
    text-align: center;
    width: 1200px;
    font-size: 44px;
}
