// for dark theme
$MAIN_COLOR: #57d6ff;
$BACKGROUND: #141c24;
$MAIN_TEXT: #ffffff;
$ADDITIONAL_TEXT: #ababab;
$THEME_BG_IMAGE: url('./assets/images/night.jpg');
$JUSTIFY_CONTENT: end;

// For light theme
// $MAIN_COLOR: #0066ff;
// $BACKGROUND: #ffffff;
// $MAIN_TEXT: #171717;
// $ADDITIONAL_TEXT: #616161;
// $THEME_BG_IMAGE: url('./assets/images/day.jpg');
// $JUSTIFY_CONTENT: start;